# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png
generated_plugin_registrant.dart

# Obfuscation
app.*.symbols

# Android related
android/.gradle/
android/captures/
android/.idea/
*.iml
*.hprof
local.properties
.gradle/
*.log

# iOS/macOS related
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/.symlinks
ios/Pods/
ios/Runner.xcworkspace/
ios/.dart_tool/
macos/Flutter/ephemeral/
macos/.dart_tool/
macos/Pods/
macos/Runner.xcworkspace/
*.xcuserstate
*.xcworkspace
*.xcodeproj/*.xcuserdata/
*.xcodeproj/project.xcworkspace/

# VS Code
.vscode/
.history/

# IntelliJ related
.idea/
*.iml

# Web related
web/.dart_tool/

# Linux related
linux/flutter/ephemeral/
linux/.dart_tool/

# Windows related
windows/flutter/ephemeral/
windows/.dart_tool/

# Fuchsia related
.fuchsia/

# Coverage
coverage/

# Others
*.swp
.DS_Store
*.lock

# Firebase
ios/Runner/GoogleService-Info.plist
android/app/google-services.json
